<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
   		<key>method</key>
   		<string>development</string>
   		<key>teamID</key>
   		<string>ABCDEF</string>
   		<key>uploadBitcode</key>
		<false/>
		<key>compileBitcode</key>
		<true/>
		<key>uploadSymbols</key>
		<false/>
		<key>signingStyle</key>
		<string>manual</string>
		<key>signingCertificate</key>
		<string>iOS Development</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>io.mts.grunt-xcode</key>
			<string>grunt-xcode</string>
		</dict>
	</dict>
</plist>
